<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-center">Copyright © 2024 DATA-DYNAMOS</p>
        </div>
        <div class="col-md-6">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Terms of Use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>