<div class="sidebar bg-dark">
    <div class="logo text-center">
      <img src="assets/images/test2122.png" alt="Company Logo" class="img-fluid">
    </div>
    <nav class="navbar-light">
      <ul class="navbar-nav flex-column">
      
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/employee" routerLinkActive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/ceo" routerLinkActive="active">CEO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/salary" routerLinkActive="active">Salary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/leave" routerLinkActive="active">Leave</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/attendance" routerLinkActive="active">Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/training" routerLinkActive="active">Training</a>
        </li>
      </ul>
    </nav>
  </div>