<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Resolvi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="predictionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Prédiction
          </a>
          <ul class="dropdown-menu" aria-labelledby="predictionDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/turnover"><mat-icon>analytics</mat-icon> Turnover</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/satisfaction"><mat-icon>emoji_people</mat-icon> Satisfaction</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/training-needs"><mat-icon>settings</mat-icon> Training Needs</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="/profiling" (click)="executeModel()"><mat-icon>poll</mat-icon> Profiling</a></li>

          </ul>
        </li>
      </ul>
    </div>
    <div class="ml-auto navbar-nav">
      <span class="nav-item nav-link">{{ userEmail }}</span>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>