.full-page-container {
    position: absolute;
    top: 50px; /* Adjust the top position to account for the navbar */
    left: 200px; /* Adjust the left position to account for the sidebar */
    width: calc(100% - 200px); /* Adjust the width to account for the sidebar */
    height: calc(100vh - 50px); /* Adjust the height to account for the navbar */
  }
  
  .full-page-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }