<div class="full-page-container">
    <iframe title="HR_a_valier-2" src="https://app.powerbi.com/reportEmbed?reportId=2d9bb9b6-ac2f-47df-9975-2ca9c7f954f9&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false&navContentPaneEnabled=false&pageName=employee_ceo" frameborder="0" allowFullScreen="true"></iframe>
  </div>
  <footer class="bg-dark text-white fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-center">Copyright © 2024 DATA-DYNAMOS</p>
        </div>
        <div class="col-md-6">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Terms of Use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>