<app-navbar></app-navbar>
<div class="full-page-container">
    <iframe title="training" src="https://app.powerbi.com/reportEmbed?reportId=2d6ab978-821f-4759-ab9d-ccc77bad159f&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730"  frameborder="0" allowFullScreen="true"></iframe>
</div>

<app-sidenavbar></app-sidenavbar>


<footer class="bg-dark text-white fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center">Copyright © 2024 DATA-DYNAMOS</p>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown dropup">
                        <a class="nav-link text-white dropdown-toggle" id="privacyPolicyDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Privacy Policy</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="privacyPolicyDropdown">
                            <p class="dropdown-item">We take your privacy seriously. Our Privacy Policy outlines how we collect, use, and protect your personal information.</p>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropup">
                        <a class="nav-link text-white dropdown-toggle" id="aboutUsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="aboutUsDropdown">
                            <p class="dropdown-item"> A9WAAA GROUPE </p>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropup">
                        <a class="nav-link dropdown-toggle text-white" id="contactUsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="contactUsDropdown">
                            <a class="dropdown-item" href="#"><mat-icon>phone</mat-icon> +21692524435</a>
                            <a class="dropdown-item" href="#">
                                <mat-icon>facebook</mat-icon>
                                <span>Data-dynamos</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>